<h2> Create sub topic </h2>

<% if (message.length > 0) { %>
<div class="alert alert-success"><%= message %></div>
<% } %>

<form action="/sub-topics/post-form" method="post">
    
    <div class="form-group">
        <label for="exampleInputSubTopicName"> Sub Topic name</label>
        <input type="text" class="form-control" id="exampleInputSubTopicName" aria-describedby="subTopicNameHelp"
            placeholder="Enter sub topic name" name="sub_topic_name">
    </div>

    <div class="form-group">
        <select class="form-control" name="topic_id">
            <option> Select </option>
            <% for(var topic of topics) { %>
            <option value="<%= topic.id %>"> <%= topic.topic_name %></option>
            <% } %>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>